rabbitmq.addr=unstable-ebakulin.2reallife.net
rabbitmq.port=5672
rabbitmq.username=mailworker
rabbitmq.password=123
rabbitmq.exchange.name=heavens.emails
rabbitmq.queue.name=emails.invalid

database.connection_string = host=unstable-ebakulin.2reallife.net port=56432 user=hv password=oops dbname=sa_data